.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }
.center_text{
  text-align: center;
  /*position: relative;*/
  /*padding-bottom: 10px;*/
}
/*.mi_fondo{
 width: 100%;
 opacity: 10%;
}*/
.center_form{
  margin: 0 auto;
  width: 45%;
}
/*Header*/
header {
  box-shadow: 0 10px 0 rgba(0,0,0,0.2);
  background: #444;
  overflow: hidden;
  padding: 0.5em;
  position: relative;
  z-index: 1;
}
header .logo{
  border-right: 1px solid #22BCE0;
  width: 110px;
  float: left;

}
header .logo img{
  width: 100px;
  border-radius: 50%;
}
header .titular {
  margin: 0 0 45px 120px;
}
header h1{
  color: white;
}
nav {
  background: #22BCE0;
}
nav .menu{
  height: 40px;
  line-height: 40px;
  margin: 0;
  /*overflow: auto;*/
  /*white-space: nowrap;*/
}
nav .menu li{
  display: inline-block;
  margin: 0;
}
nav .menu li a{
  color: white;
  display: inline-block;
  margin: 0 0.5em;
  padding: 0.2em;
  text-decoration: none;
}
nav{
  border-left: 15px solid white;
  /*position: relative;*/
}
nav .menu li a:before{
  border-bottom: 20px solid transparent;
  border-left: 7px solid white;
  border-top: 20px solid transparent;
  content: "";
  left: 15px;
  position: absolute;
  top: 117px;
}
/*footer*/
.footer-style{
  position: relative;

}
/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }



.btn_logout{
  float: right;
}


.centrar_texto{
  text-align: center;

}
